body {
  margin-top: 3rem;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  gap: 1rem;
  min-height: 100vh;
}

.detail {
  display: flex;
  gap: 2rem;
  margin-bottom: 15px;
}

h4 {
  margin: 0.5px;
}
.footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
