body {
  margin-top: 3rem;
  background-color: #5f9ea0;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  gap: 1rem;
  margin: 0;
  background: linear-gradient(to bottom, #5f9ea0, #4caf50);
}

main {
  padding: 2rem 7%;
  min-height: 70vh;
}
.title {
  display: flex;
}

.detail {
  display: flex;
  align-items: baseline;
  gap: 2rem;
  margin-bottom: 15px;
  min-width: 500px;
}

.post {
  padding-top: 30px;
}
/* nav {
  text-shadow: -1px -1px 0 #4caf50, 1px -1px 0 #4caf50, -1px 1px 0 #4caf50,
    1px 1px 0 #4caf50, 0 0 10px rgba(95, 158, 160, 0.8);
} */

.no-underline {
  text-decoration: none;
}

Link:hover {
  color: rgb(202, 197, 197);
}

p {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
